name: Node.js CI & VitePress Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  deploy-vitepress:
    name: Deploy VitePress to GitHub Pages
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'  # 只在 master 分支推送时执行
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 必要：确保能获取完整的提交历史

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm install

      - name: Build VitePress
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .vitepress/dist
          cname: blog.jiangyin14.top
          keep_files: false
